@using ConformityCheck.Common
@using Microsoft.Extensions.Configuration
@using ConformityCheck.Web.Infrastructure.Settings

@inject IConfiguration Configuration

@model ConformityCheck.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}
<section class="overlay-color"></section>
<section class="home-container">
    <article class="home-content">
        <h1 class="text-block-content-title">Welcome to  @GlobalConstants.SystemName!</h1>
        <p class="text-block-content-description">We have:</p>
        <article class="text-block-content">
            <ul class="managed-items-list">
                <li class="list-item">
                    <span>
                        Articles:&emsp;
                    </span>
                    <span>
                        @Model.Articles
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Suppliers:&emsp;
                    </span>
                    <span>
                        @Model.Suppliers
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Conformity types:&emsp;
                    </span>
                    <span>
                        @Model.ConformityTypes
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Conformities:&emsp;
                    </span>
                    <span>
                        @Model.Conformities
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Products:&emsp;
                    </span>
                    <span>
                        @Model.Products
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Substances:&emsp;
                    </span>
                    <span>
                        @Model.Substances
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Regulation lists: &emsp;
                    </span>
                    <span>
                        @Model.RegulationLists
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Roles: &emsp;
                    </span>
                    <span>
                        @Model.Roles
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Users: &emsp;
                    </span>
                    <span>
                        @Model.Users
                    </span>
                </li>
            </ul>
        </article>
    </article>
</section>
<section class="search-container large-margin-vertical">
    <article class="">
        <h4 class="">
            Quick links:
        </h4>
        @*<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input size="36" type="text" id="searchInput" class="form-control" placeholder="Search for article number or name..." aria-label="Input group example" aria-describedby="btnGroupAddon">
                </div>
            </div>*@
        <ul class="nav-list-vertical">
            <li class="">
                <article class="search-container">
                    <form method="get" asp-controller="Articles" asp-action="Index" class="flex-row">
                        <article class="input-group">
                            <input type="search" class="form-control" asp-for="CurrentSearchInput"
                                   id="searchAticleInput" list="selectSearchArticleInput"
                                   placeholder="Search for article" value="@Model.CurrentSearchInput"
                                   autocomplete="off">
                            <datalist id="selectSearchArticleInput" class="form-control dropdown-content">
                            </datalist>
                        </article>
                        <article class="btns-container">
                            <button type="submit" class="btn btn-search">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </article>
                    </form>
                </article>
            </li>
            <li>
                <article class="search-container">
                    <form method="get" asp-controller="Suppliers" asp-action="Index" class="flex-row">
                        <article class="input-group">
                            <input type="search" class="form-control" asp-for="CurrentSearchInput"
                                   id="searchSupplierInput" list="selectSearchSupplierInput"
                                   placeholder="Search for supplier" value="@Model.CurrentSearchInput"
                                   autocomplete="off">
                            <datalist id="selectSearchSupplierInput" class="form-control dropdown-content">
                            </datalist>
                        </article>
                        <article class="btns-container">
                            <button type="submit" class="btn btn-search">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </article>
                    </form>
                </article>
            </li>
            <li>
                <article class="search-container">
                    <form method="get" asp-controller="Conformities" asp-action="Index" class="flex-row">
                        <article class="input-group">
                            <input type="search" class="form-control" asp-for="CurrentSearchInput"
                                   id="searchConformityInput" list="selectSearchConformityInput"
                                   placeholder="Search for conformity" value="@Model.CurrentSearchInput"
                                   autocomplete="off">
                            <datalist id="selectSearchConformityInput" class="form-control dropdown-content">
                            </datalist>
                        </article>
                        <article class="btns-container">
                            <button type="submit" class="btn btn-search">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </article>
                    </form>
                </article>
            </li>
            <li>
                <article class="search-container">
                    <form method="get" asp-controller="ConformityTypes" asp-action="Index" class="flex-row">
                        <article class="input-group">
                            <input type="search" class="form-control" asp-for="CurrentSearchInput"
                                   id="searchConformityTypeInput" list="selectSearchConformityTypeInput"
                                   placeholder="Search for conformity type" value="@Model.CurrentSearchInput"
                                   autocomplete="off">
                            <datalist id="selectSearchConformityTypeInput" class="form-control dropdown-content">
                            </datalist>
                        </article>
                        <article class="btns-container">
                            <button type="submit" class="btn btn-search">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </article>
                    </form>
                </article>
            </li>
        </ul>
    </article>
</section>
<section class="large-margin-vertical light-background border-radius padding-20">
        <partial name="_InfoForTheProjectPartial" />
</section>
@section Links{
    <!-- Page level custom styles -->
    <!--<link href="~/lib/datatables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">-->
}

@section Scripts{
    <!-- Page level plugins -->
    <!--<script src="~/lib/datatables/DataTables-1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/DataTables-1.10.22/js/dataTables.bootstrap4.min.js"></script>-->
    <!-- Page level custom scripts -->
    <script src="~/js/tables.js" asp-append-version="true"></script>
    <script src="~/js/searchEntities.js" asp-append-version="true"></script>
}