@using ConformityCheck.Common
@model ConformityCheck.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}
<section class="overlay-color"></section>
<section class="home-container">
    <article class="home-content">
        <h1 class="text-block-content-title">Welcome to  @GlobalConstants.SystemName!</h1>
        <p class="text-block-content-description">We have:</p>
        <article class="text-block-content">
            <ul class="managed-items-list">
                <li class="list-item">
                    <span>
                        Articles:&emsp;
                    </span>
                    <span>
                        @Model.Articles
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Suppliers:&emsp;
                    </span>
                    <span>
                        @Model.Suppliers
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Conformity types:&emsp;
                    </span>
                    <span>
                        @Model.ConformityTypes
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Conformities:&emsp;
                    </span>
                    <span>
                        @Model.Conformities
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Products:&emsp;
                    </span>
                    <span>
                        @Model.Products
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Substances:&emsp;
                    </span>
                    <span>
                        @Model.Substances
                    </span>
                </li>
                <li class="list-item">
                    <span>
                        Regulation lists: &emsp;
                    </span>
                    <span>
                        @Model.RegulationLists
                    </span>
                </li>
            </ul>
        </article>
    </article>
</section>
<section class="search-container">
    <article class="">
        <h4 class="">
            Quick links:
        </h4>

        @*<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input size="36" type="text" id="searchInput" class="form-control" placeholder="Search for article number or name..." aria-label="Input group example" aria-describedby="btnGroupAddon">
                </div>
            </div>*@
        <ul class="nav-list-vertical">
            <li class="">
                <article class="tools-container">
                    <article class="search-container">
                        <form method="get" asp-controller="Articles" asp-action="ListAll">
                            <article class="input-group">
                                <article class="input-group-prepend">
                                    <span class="input-group-text">
                                    </span>
                                </article>
                                <input type="search" class="form-control" asp-for="CurrentSearchInput"
                                       id="searchAticleInput"
                                       placeholder="Search for article"
                                       value="@Model.CurrentSearchInput">
                                <article class="input-group-append">
                                    <button type="submit" class="btn btn-search">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                </article>
                            </article>
                        </form>
                    </article>
                    <article class="search-results-container articles" id="suggestions" style="display:none">
                        <form method="get" asp-controller="Articles" asp-action="Details" asp-route-id="@Model.Id">
                            <article class="input-group">
                                <select asp-for="Id" id="selectSearchArticleInput" class="form-control"></select>
                                <article class="input-group-append">
                                    <input type="submit" class="btn" value="Show article" />
                                </article>
                            </article>
                        </form>
                    </article>
                </article>
            </li>
            <li>
                <article class="tools-container">
                    <article class="search-container">
                        <form method="get" asp-controller="Suppliers" asp-action="ListAll">
                            <article class="input-group">
                                <article class="input-group-prepend">
                                    <span class="input-group-text">
                                    </span>
                                </article>
                                <input type="search" class="form-control" asp-for="CurrentSearchInput"
                                       id="searchSupplierInput"
                                       placeholder="Search for supplier"
                                       value="@Model.CurrentSearchInput">
                                <article class="input-group-append">
                                    <button type="submit" class="btn btn-search">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                </article>
                            </article>
                        </form>
                    </article>
                    <article class="search-results-container suppliers" id="suggestions" style="display:none">
                        <form method="get" asp-controller="Suppliers" asp-action="Details" asp-route-id="@Model.Id">
                            <article class="input-group">
                                <select asp-for="Id" id="selectSearchSupplierInput" class="form-control"></select>
                                <article class="input-group-append">
                                    <input type="submit" class="btn" value="Show supplier" />
                                </article>
                            </article>
                        </form>
                    </article>
                </article>
            </li>
            <li>
                <article class="tools-container">
                    <article class="search-container">
                        <form method="get" asp-controller="Conformities" asp-action="ListAll">
                            <article class="input-group">
                                <article class="input-group-prepend">
                                    <span class="input-group-text">
                                    </span>
                                </article>
                                <input type="search" class="form-control" asp-for="CurrentSearchInput"
                                       id="searchConformityInput"
                                       placeholder="Search for conformity"
                                       value="@Model.CurrentSearchInput">
                                <article class="input-group-append">
                                    <button type="submit" class="btn btn-search">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                </article>
                            </article>
                        </form>
                    </article>
                    <article class="search-results-container conformity" id="suggestions" style="display:none">
                        <form method="get" asp-controller="Conformities" asp-action="Details" asp-route-id="@Model.Id">
                            <article class="input-group">
                                <select asp-for="Id" id="selectSearchConformityInput" class="form-control"></select>
                                <article class="input-group-append">
                                    <input type="submit" class="btn btn-secondary" value="Show conformity" />
                                </article>
                            </article>
                        </form>
                    </article>
                </article>
            </li>
            <li>
                <article class="tools-container">
                    <article class="search-container">
                        <form method="get" asp-controller="ConformityTypes" asp-action="ListAll">
                            <article class="input-group">
                                <article class="input-group-prepend">
                                    <span class="input-group-text">
                                    </span>
                                </article>
                                <input type="search" class="form-control" asp-for="CurrentSearchInput"
                                       id="searchConformityTypeInput"
                                       placeholder="Search for conf. type"
                                       value="@Model.CurrentSearchInput">
                                <article class="input-group-append">
                                    <button type="submit" class="btn btn-search">
                                        <i class="fas fa-search"></i> Search
                                    </button>
                                </article>
                            </article>
                        </form>
                    </article>
                    <article class="search-results-container conformity-type" id="suggestions" style="display:none">
                        <form method="get" asp-controller="ConformityTypes" asp-action="Details" asp-route-id="@Model.Id">
                            <article class="input-group">
                                <select asp-for="Id" id="selectSearchConformityTypeInput" class="form-control"></select>
                                <article class="input-group-append">
                                    <input type="submit" class="btn btn-secondary" value="Show conformity type" />
                                </article>
                            </article>
                        </form>
                    </article>
                </article>
            </li>
        </ul>
    </article>
</section>

@section SubMenu{
    <!-- <div>
         <h2>My Phonebook</h2>

         <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

         <ul id="myUL">
             <li><a href="#">Adele</a></li>
             <li><a href="#">Agnes</a></li>

             <li><a href="#">Billy</a></li>
             <li><a href="#">Bob</a></li>

             <li><a href="#">Calvin</a></li>
             <li><a href="#">Christina</a></li>
             <li><a href="#">Cindy</a></li>
         </ul>

         <script>
             function myFunction() {
                 var input, filter, ul, li, a, i, txtValue;
                 input = document.getElementById("myInput");
                 filter = input.value.toUpperCase();
                 ul = document.getElementById("myUL");
                 li = ul.getElementsByTagName("li");
                 for (i = 0; i < li.length; i++) {
                     a = li[i].getElementsByTagName("a")[0];
                     txtValue = a.textContent || a.innerText;
                     if (txtValue.toUpperCase().indexOf(filter) > -1) {
                         li[i].style.display = "";
                     } else {
                         li[i].style.display = "none";
                     }
                 }
             }
         </script>
     </div>

     <div>
         <h2>My Customers</h2>

         <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

         <table id="myTable">
             <tr class="header">
                 <th style="width:60%;">Name</th>
                 <th style="width:40%;">Country</th>
             </tr>
             <tr>
                 <td>Alfreds Futterkiste</td>
                 <td>Germany</td>
             </tr>
             <tr>
                 <td>Berglunds snabbkop</td>
                 <td>Sweden</td>
             </tr>
             <tr>
                 <td>Island Trading</td>
                 <td>UK</td>
             </tr>
             <tr>
                 <td>Koniglich Essen</td>
                 <td>Germany</td>
             </tr>
             <tr>
                 <td>Laughing Bacchus Winecellars</td>
                 <td>Canada</td>
             </tr>
             <tr>
                 <td>Magazzini Alimentari Riuniti</td>
                 <td>Italy</td>
             </tr>
             <tr>
                 <td>North/South</td>
                 <td>UK</td>
             </tr>
             <tr>
                 <td>Paris specialites</td>
                 <td>France</td>
             </tr>
         </table>

         <script>
             function myFunction() {
                 var input, filter, table, tr, td, i, txtValue;
                 input = document.getElementById("myInput");
                 filter = input.value.toUpperCase();
                 table = document.getElementById("myTable");
                 tr = table.getElementsByTagName("tr");
                 for (i = 0; i < tr.length; i++) {
                     td = tr[i].getElementsByTagName("td")[0];
                     if (td) {
                         txtValue = td.textContent || td.innerText;
                         if (txtValue.toUpperCase().indexOf(filter) > -1) {
                             tr[i].style.display = "";
                         } else {
                             tr[i].style.display = "none";
                         }
                     }
                 }
             }
         </script>
     </div>

     <div>
         <h2>Search/Filter Dropdown</h2>
         <p>Click on the button to open the dropdown menu, and use the input field to search for a specific dropdown link.</p>

         <div class="dropdown">
             <button onclick="myFunction()" class="dropbtn">Dropdown</button>
             <div id="myDropdown" class="dropdown-content">
                 <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                 <a href="#about">About</a>
                 <a href="#base">Base</a>
                 <a href="#blog">Blog</a>
                 <a href="#contact">Contact</a>
                 <a href="#custom">Custom</a>
                 <a href="#support">Support</a>
                 <a href="#tools">Tools</a>
             </div>
         </div>

         <script>
             /* When the user clicks on the button,
             toggle between hiding and showing the dropdown content */
             function myFunction() {
                 document.getElementById("myDropdown").classList.toggle("show");
             }

             function filterFunction() {
                 var input, filter, ul, li, a, i;
                 input = document.getElementById("myInput");
                 filter = input.value.toUpperCase();
                 div = document.getElementById("myDropdown");
                 a = div.getElementsByTagName("a");
                 for (i = 0; i < a.length; i++) {
                     txtValue = a[i].textContent || a[i].innerText;
                     if (txtValue.toUpperCase().indexOf(filter) > -1) {
                         a[i].style.display = "";
                     } else {
                         a[i].style.display = "none";
                     }
                 }
             }
         </script>
     </div>

     <div>
         <h1>Custom Radio Buttons</h1>
         <label class="container">
             One
             <input type="radio" checked="checked" name="radio">
             <span class="checkmark"></span>
         </label>
         <label class="container">
             Two
             <input type="radio" name="radio">
             <span class="checkmark"></span>
         </label>
         <label class="container">
             Three
             <input type="radio" name="radio">
             <span class="checkmark"></span>
         </label>
         <label class="container">
             Four
             <input type="radio" name="radio">
             <span class="checkmark"></span>
         </label>
     </div>

     <div class="form-group">
         <input type="text" placeholder="Search..">
     </div>


     <div>-->
    <!-- The form -->
    <!--<form class="example" action="action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>


        <h2>Search/Filter Dropdown</h2>
        <p>Click on the button to open the dropdown menu, and use the input field to search for a specific dropdown link.</p>

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a href="#about">About</a>
                <a href="#base">Base</a>
                <a href="#blog">Blog</a>
                <a href="#contact">Contact</a>
                <a href="#custom">Custom</a>
                <a href="#support">Support</a>
                <a href="#tools">Tools</a>
            </div>
        </div>

        <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            function filterFunction() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                div = document.getElementById("myDropdown");
                a = div.getElementsByTagName("a");
                for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }
        </script>-->
}

@section Links{
    <!-- Page level custom styles -->
    <!--<link href="~/lib/datatables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">-->
}

@section Scripts{
    <!-- Page level plugins -->
    <!--<script src="~/lib/datatables/DataTables-1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/DataTables-1.10.22/js/dataTables.bootstrap4.min.js"></script>-->
    <!-- Page level custom scripts -->
    <script src="~/js/tables.js" asp-append-version="true"></script>
    <script src="~/js/searchEntities.js" asp-append-version="true"></script>
}