@model ArticleEditInputModel

<section class="table-container">
    <article class="table-header">
        <h6>Article's conformities:</h6>
    </article>
    <table class="table dataTable">
        <thead>
            <tr>
                <th class="col-s">Conformity type</th>
                <th class="col-s">Supplier Nr.</th>
                <th class="col-m">Supplier name</th>
                <th class="col-s">Conformity available</th>
                <th class="col-s">Is accepted?</th>
                <th class="col-s">Is valid?</th>
                <th class="col-m">Id</th>
                <th class="col-s">Add / Edit</th>
                <th class="col-s">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conformityType in this.Model.ConformityTypes)
            {
                @foreach (var supplier in this.Model.Suppliers)
                {
                    var conformityBySupplier = Model.Conformities.FirstOrDefault(x => x.ConformityType.Id == conformityType.Id
                                                          && x.Supplier.Id == supplier.Id);
                    <tr>
                        <td class="col-s">
                            @conformityType.Description
                            @if (conformityBySupplier != null)
                            {
                                <a class="btn btn-details"
                                   asp-controller="Conformities" 
                                   asp-action="Edit"
                                   asp-route-Id="@(conformityBySupplier.Id)"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-conformityTypeId="@conformityType.Id"
                                   asp-route-callerViewName="Articles"></a>
                            }
                            else
                            {
                                <a class="btn btn-details"
                                   asp-controller="Conformities"
                                   asp-action="AddToArticleSupplierConformityType"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-conformityTypeId="@conformityType.Id"
                                   asp-route-callerViewName="Articles"></a>
                            }
                        </td>
                        <td class="col-s">@supplier.Number</td>
                        <td class="col-m">@supplier.Name</td>
                        <td class="col-s">@(conformityBySupplier != null ? "Yes" : "No")</td>
                        <td class="col-s">@(conformityBySupplier != null && conformityBySupplier.IsAccepted ? "Yes" : "No")</td>
                        <td class="col-s">@(conformityBySupplier != null && conformityBySupplier.IsValid ? "Yes" : "No")</td>
                        <td class="col-m">@(conformityBySupplier != null ? conformityBySupplier.Id : "-")</td>
                        @if (conformityBySupplier == null)
                        {
                            <td class="col-s">
                                <a asp-controller="Conformities" asp-action="AddToArticleSupplierConformityType" class="btn btn-add"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-conformityTypeId="@conformityType.Id"
                                   asp-route-callerViewName="Articles">Add</a>
                            </td>
                            <td class="col-s"></td>
                        }
                        else
                        {
                            <td class="col-s">
                                <a asp-controller="Conformities" asp-action="Edit" class="btn btn-edit"
                                   asp-route-Id="@(conformityBySupplier.Id)"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-conformityTypeId="@conformityType.Id"
                                   asp-route-callerViewName="Articles">Edit</a>
                            </td>
                            <td class="col-s">
                                <a asp-controller="Conformities" asp-action="Delete" class="btn btn-delete"
                                   asp-route-Id="@(conformityBySupplier.Id)"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-callerViewName="Articles">Delete</a>
                            </td>
                        }
                    </tr>
                    @*<tr>@String.Join(", ", supplier.Conformities.Select(x=>x.Id))</tr>*@
                }
            }
        </tbody>
    </table>
</section>
