@model ArticleEditInputModel

@foreach (var conformityType in this.Model.ConformityTypes)
{
    <table class="table table-light table-responsive-md table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Conformity type</th>
                <th scope="col">Supplier number</th>
                <th scope="col">Supplier name</th>
                <th scope="col">Conformity available</th>
                <th scope="col">Is accepted?</th>
                <th scope="col">Is valid?</th>
                <th scope="col">Id</th>
                <th class="col-1">Add / Edit</th>
                <th class="col-1">Delete</th>
            </tr>
        </thead>
        @foreach (var supplier in this.Model.Suppliers)
        {
            var conformityBySupplier = Model.Conformities.FirstOrDefault(x => x.ConformityType.Id == conformityType.Id
                                                  && x.Supplier.Id == supplier.Id);
            <tr>
                <td>@conformityType.Description</td>
                <td>@supplier.Number</td>
                <td>@supplier.Name</td>
                <td>@(conformityBySupplier != null ? "Yes" : "No")</td>
                <td>@(conformityBySupplier != null && conformityBySupplier.IsAccepted ? "Yes" : "No")</td>
                <td>@(conformityBySupplier != null && conformityBySupplier.IsValid ? "Yes" : "No")</td>
                <td>@(conformityBySupplier != null ? conformityBySupplier.Id : "-")</td>
                @if (conformityBySupplier == null)
                {
                    <td>
                        <a asp-controller="Conformities" asp-action="Edit" class="btn btn-primary"
                           asp-route-articleId="@Model.Id"
                           asp-route-supplierId="@supplier.Id"
                           asp-route-conformityTypeId="@conformityType.Id"
                           asp-route-callerViewName="Articles">Add</a>
                    </td>
                    <td></td>
                }
                else
                {
                    <td>
                        <a asp-controller="Conformities" asp-action="Edit" class="btn btn-primary"
                           asp-route-Id="@(conformityBySupplier.Id)"
                           asp-route-articleId="@Model.Id"
                           asp-route-supplierId="@supplier.Id"
                           asp-route-conformityTypeId="@conformityType.Id"
                           asp-route-callerViewName="Articles">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Conformities" asp-action="Delete" class="btn btn-primary"
                           asp-route-id="@conformityBySupplier.Id">Delete</a>
                    </td>
                }
            </tr>
            @*<tr>@String.Join(", ", supplier.Conformities.Select(x=>x.Id))</tr>*@
        }
    </table>
}
