@model ArticleDetailsExportModel

<section class="table-container">
    <article class="table-header">
        <h6>Article's conformities:</h6>
    </article>
    <table class="table dataTable">
        <thead>
            <tr>
                <th class="col-s">Conformity type</th>
                <th class="col-s">Supplier Nr.</th>
                <th class="col-s">Supplier name</th>
                <th class="col-s">Conformity available</th>
                <th class="col-xs">Accepted</th>
                <th class="col-xs">Valid</th>
                <th class="col-s">User</th>
                <th class="col-s">Add / Edit</th>
                <th class="col-s">Delete</th>
                <th class="col-s">Send request</th>
                <th class="col-s">Request date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conformityType in this.Model.ConformityTypes)
            {
                @foreach (var supplier in this.Model.Suppliers)
                {
                    var conformityBySupplier = Model.Conformities.FirstOrDefault(x => x.ConformityType.Id == conformityType.Id
                                                          && x.Supplier.Id == supplier.Id);
                    <tr>
                        <td class="col-s" data-label="Conformity type">
                            @conformityType.Description
                            @if (conformityBySupplier?.AcceptanceDate != null)
                            {
                                <a class="btn btn-table-link"
                                   asp-controller="Conformities"
                                   asp-action="Edit"
                                   asp-route-Id="@(conformityBySupplier.Id)"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-conformityTypeId="@conformityType.Id"
                                   asp-route-callerViewName="Articles"></a>
                            }
                            else
                            {
                                <a class="btn btn-table-link"
                                   asp-controller="Conformities"
                                   asp-action="AddToArticleSupplierConformityType"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-conformityTypeId="@conformityType.Id"
                                   asp-route-callerViewName="Articles"></a>
                            }
                        </td>
                        <td class="col-s" data-label="Supplier Nr.">@supplier.Number</td>
                        <td class="col-s" data-label="Supplier name">@supplier.Name</td>
                        <td class="col-s" data-label="Conformity available">@(conformityBySupplier != null ? "Yes" : "No")</td>
                        <td class="col-xs" data-label="Accepted">@(conformityBySupplier != null && conformityBySupplier.IsAccepted ? "Yes" : "No")</td>
                        <td class="col-xs" data-label="Valid">@(conformityBySupplier != null && conformityBySupplier.IsValid ? "Yes" : "No")</td>
                        <td class="col-s" data-label="User">@(conformityBySupplier != null ? conformityBySupplier.UserEmail : "-")</td>
                        @if (conformityBySupplier?.AcceptanceDate != null)
                        {
                            <td class="col-s" data-label="Add / Edit">
                                <a asp-controller="Conformities" asp-action="Edit" class="btn btn-edit"
                                   asp-route-Id="@(conformityBySupplier.Id)"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-conformityTypeId="@conformityType.Id"
                                   asp-route-callerViewName="Articles">
                                    <span class="text">Edit</span>
                                </a>
                            </td>
                            <td class="col-s" data-label="Delete">
                                <a asp-controller="Conformities" asp-action="Delete" class="btn btn-delete"
                                   asp-route-Id="@(conformityBySupplier.Id)"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-callerViewName="Articles">
                                    <span class="text">Delete</span>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td class="col-s" data-label="Add / Edit">
                                <a asp-controller="Conformities" asp-action="AddToArticleSupplierConformityType" class="btn btn-add"
                                   asp-route-articleId="@Model.Id"
                                   asp-route-supplierId="@supplier.Id"
                                   asp-route-conformityTypeId="@conformityType.Id"
                                   asp-route-callerViewName="Articles">
                                    <span class="text">Add</span>
                                </a>
                            </td>
                            <td class="col-s" data-label="Delete"> - </td>
                        }
                        <td class="col-s" data-label="Send request">
                            <a asp-controller="Requests" asp-action="SendRequest" class="btn btn-request"
                               asp-route-articleId="@Model.Id"
                               asp-route-supplierId="@supplier.Id"
                               asp-route-conformityTypeId="@conformityType.Id"
                               asp-route-callerViewName="Articles">
                                Request
                            </a>
                        </td>
                        <td class="col-s" data-label="Request date">
                            @(conformityBySupplier?.RequestDate != null ?
                               conformityBySupplier.RequestDate.Value.ToString(GlobalConstants.DateTimeFormat) : "-")
                        </td>
                    </tr>
                    @*<tr>@String.Join(", ", supplier.Conformities.Select(x=>x.Id))</tr>*@
                }
            }
        </tbody>
    </table>
</section>
