@model IEnumerable<SupplierExportModel>

<section class="table-container">
    <article class="table-header">
        <h6>Article's suppliers:</h6>
    </article>
    <table class="table dataTable">
        <thead>
            <tr>
                <th class="col-l">Supplier name</th>
                <th class="col-l">Supplier Nr.</th>
                <th class="col-l">Main supplier</th>
                <th class="col-l">All articles confirmed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var supplier in this.Model)
            {
                <tr>

                    <td class="col-l" data-label="Supplier name">
                        @supplier.Name                
                        <a asp-controller="Suppliers" asp-action="Details" class="btn btn-table-link" asp-route-id="@supplier.Id"></a>
                    </td>
                    <td class="col-l" data-label="Supplier Nr.">@supplier.Number</td>
                    <td class="col-l" data-label="Main supplier">@(supplier.IsMainSupplier ? "Yes" : "No")</td>
                    <td class="col-l" data-label="All articles confirmed">@(supplier.HasAllConformed ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
</section>