<div class="text-dark border">
    Suppliers:
    <a class="nav-link border" asp-action="AddSupplier" asp-route-id="@Model.Id">Add Supplier</a>
    <a class="nav-link border" asp-action="ChangeMainSupplier" asp-route-id="@Model.Id">Main Supplier</a>
    <a class="nav-link border" asp-action="RemoveSupplier" asp-route-id="@Model.Id">Remove Supplier</a>
</div>

<div class="text-dark border">
    Conformity types:
    <a class="nav-link border" asp-action="AddConformityType" asp-route-id="@Model.Id">Add conformity type</a>
    <a class="nav-link border" asp-action="RemoveConformityType" asp-route-id="@Model.Id">Remove conformity type</a>
</div>