@using ConformityCheck.Web.ViewModels.Articles
@model ArticleEditModel
@{
    this.ViewData["Title"] = "Details for article";
    //var suppliers = Model.SuppliersAvailable.Select(x => new SelectListItem(x.NumberAndName, x.Id));
    //var conformityTypes = Model.ConformityTypesAvailable.Select(x => new SelectListItem(x.Description, x.Id.ToString()));
    //var products = Model.ProductsAvailable.Select(x => new SelectListItem(x.Number, x.Id));
    //var substances = Model.SubstancesAvailable.Select(x => new SelectListItem($"{x.CASNumber} - {x.Description}", x.Id.ToString()));
}

<h3>@this.ViewData["Title"]</h3>

<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>

<div>
    <div class="form-group">
        <label asp-for="Number">Article number: </label>
        <span class="text-primary ">@Model.Number</span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Article's description:</label>
        <span class="text-primary">@Model.Description</span>
    </div>

    <div class="form-group">
        <label asp-for="IsConfirmed">Article confirmed:</label>
        <span class="text-primary">@(Model.IsConfirmed ? "Yes" : "No")</span>
    </div>

    <div class="form-group">
        <label asp-for="Suppliers"></label>
        <partial name="_ArticleSuppliersTable" model="Model.Suppliers" />
    </div>

    <div class="form-group">
        <label asp-for="ConformityTypes"></label>
        <partial name="_ArticleConformityTypesSuppliersTable" model="Model" />
    </div>

    @*<th class="col-1">Missing confirmations</th>
        <th class="col-1">Confirmations</th>

        <td class="col-1">
            @foreach (var unconfirmedConformity in article.ArticleMissingConformityTypes)
            {
                <span>@unconfirmedConformity</span>
            }
        </td>
        <td class="col-1">
            @foreach (var confirmedConformity in article.ArticleConformityTypes)
            {
                <span>@confirmedConformity</span>
            }
        </td>*@
    <div class="form-group">
        <label asp-for="Products"></label>
         TODO - just view 
    </div>

    <div class="form-group">
        <label asp-for="Substances"></label>
         TODO - just view 
    </div>
</div>

@section SideBar{
    <partial name="_SideMenuGeneral" model="Model" />
}
