@using ConformityCheck.Web.ViewModels.Articles
@model ArticleDetailsModel
@*@model ArticleEditModel*@
@{
    this.ViewData["Title"] = "Details for article";
    //var suppliers = Model.SuppliersAvailable.Select(x => new SelectListItem(x.NumberAndName, x.Id));
    //var conformityTypes = Model.ConformityTypesAvailable.Select(x => new SelectListItem(x.Description, x.Id.ToString()));
    //var products = Model.ProductsAvailable.Select(x => new SelectListItem(x.Number, x.Id));
    //var substances = Model.SubstancesAvailable.Select(x => new SelectListItem($"{x.CASNumber} - {x.Description}", x.Id.ToString()));
}

<h3>@this.ViewData["Title"]</h3>

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success" role="alert">
        @this.TempData["Message"]
    </div>
}
<details>
    <summary>Some details</summary>
    <p>More info about the details.</p>
</details>

<section>
    <article>
        <ul >
            <li>
                Article number: @Model.Number
            </li>
            <li>
                Article's description: @Model.Description
            </li>
            <li>
                Article confirmed: @(Model.IsConfirmed ? "Yes" : "No")
            </li>
        </ul>
    </article>
    <hr />
    <article>
        <h5>Quick actions</h5>
        <a asp-action="Edit" class="btn btn-sm btn-primary btn-block" asp-route-id="@Model.Id">
            <span class="icon text-white">
                <i class="fas fa-edit"></i>
            </span>
            <span class="text">Edit article</span>
        </a>
        <a asp-action="......" class="btn btn-sm btn-primary" asp-route-id="@Model.Id">
            <span class="icon text-white">
                <i class="fas fa-edit"></i>
            </span>
            <span class="text">.....</span>
        </a>
    </article>
    <hr />
    <article>
        <h5>Suppliers</h5>
        <partial name="_ArticleSuppliersTable" model="Model.Suppliers" />
    </article>
    <hr />
    <article>
        <h5>Conformity types</h5>
        <partial name="_ArticleConformitiesTable" model="Model" />
    </article>

    @*<th class="col-1">Missing confirmations</th>
        <th class="col-1">Confirmations</th>

        <td class="col-1">
            @foreach (var unconfirmedConformity in article.ArticleMissingConformityTypes)
            {
                <span>@unconfirmedConformity</span>
            }
        </td>
        <td class="col-1">
            @foreach (var confirmedConformity in article.ArticleConformityTypes)
            {
                <span>@confirmedConformity</span>
            }
        </td>*@
    <hr />
    <article>
        <h5>Products - TODO - just view</h5>
        @*<partial name="" model="Model" />*@
    </article>
    <hr />
    <article>
        <h5>Substances - TODO - just view</h5>
        @*<partial name="" model="Model" />*@
    </article>
</section>

@section SideBar{
    <partial name="_SideMenuGeneral" model="Model" />
}

@section Scripts{
    <script src="~/js/alerts.js" asp-append-version="true"></script>
}