@using ConformityCheck.Web.ViewModels.Articles
@model ArticleEditModel
@{
    this.ViewData["Title"] = "Edit article";
    //var suppliers = Model.SuppliersAvailable.Select(x => new SelectListItem(x.NumberAndName, x.Id));
    //var conformityTypes = Model.ConformityTypesAvailable.Select(x => new SelectListItem(x.Description, x.Id.ToString()));
    //var products = Model.ProductsAvailable.Select(x => new SelectListItem(x.Number, x.Id));
    //var substances = Model.SubstancesAvailable.Select(x => new SelectListItem($"{x.CASNumber} - {x.Description}", x.Id.ToString()));
}

<h3>@this.ViewData["Title"]</h3>

<div>
    <form method="post" class="col-md-6 mx-auto" enctype="multipart/form-data">
        @* za file mi trqbwa multipart/form-data, ako nqma da kachwam file, da go smenq!!!!! *@

        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="text" hidden id="Id" name="Id" value="@Model.Id" />

        <div>
            <label asp-for="Number">Article number: </label>
            <span class="text-primary ">@Model.Number</span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Change article's description:</label>
            <textarea rows="2" asp-for="Description" class="form-control" placeholder="@Model.Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Suppliers">Article's suppliers:</label>
            <table class="table table-light table-responsive-md table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">Supplier name</th>
                        <th scope="col">Supplier Nr.</th>
                        <th scope="col">Is main supplier?</th>
                    </tr>
                </thead>
                @foreach (var supplier in this.Model.Suppliers)
                {
                    <tr>
                        <td>@supplier.Name</td>
                        <td>@supplier.Number</td>
                        <td>@(supplier.IsMainSupplier ? "Yes" : "No")</td>
                    </tr>
                }
            </table>
        </div>

        <div class="form-group">
            <label asp-for="ConformityTypesMainSupplier"></label>
            <table class="table table-light table-responsive-md table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">Conformity type</th>
                        <th scope="col">Conformity available</th>
                        <th scope="col">Is accepted?</th>
                        <th scope="col">Id</th>
                    </tr>
                </thead>
                @foreach (var conformity in this.Model.ConformityTypesMainSupplier)
                {
                    <tr>
                        <td>@conformity.ConformityTypeDescription</td>
                        <td>@conformity.ConformityId</td>
                        <td>@(conformity.ConformityIsAccepted ? "Yes" : "No")</td>
                        <td>@conformity.ConformityTypeId</td>

                    </tr>
                }
            </table>

            @*<select size="10" asp-for="ConformityTypes" class="form-control">
                    <vc:conformity-types></vc:conformity-types>
                </select>
                <span asp-validation-for="ConformityTypes" class="text-danger"></span>*@
        </div>

        <div class="form-group">
            <label asp-for="Products"></label>
            <select asp-for="Products" class="form-control">
                <vc:products></vc:products>
            </select>
            <span asp-validation-for="Products" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Substances"></label>
            <select asp-for="Substances" class="form-control">
                <vc:substances></vc:substances>
            </select>
            <span asp-validation-for="Substances" class="text-danger"></span>
        </div>

        <div id="conformitiesContainer">
            <label asp-for="ConformityTypesMainSupplier"></label>
            <a class="btn btn-success" onclick="AddMoreConformities()">+</a>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>

@section SideBar{
    <partial name="_SideMenu" model="Model" />
}
