@model IEnumerable<ArticleFullInfoModel>

@{
    this.ViewData["Title"] = "Articles";
}

<h3>@this.ViewData["Title"]</h3>

<input size="36" type="text" id="searchInput" placeholder="Search for article number or name...">

<a asp-action="Create" class="btn btn-primary">Create article</a>

<div class="container-fluid">
    <table id="table" class="table table-light table-responsive-md table-hover table-striped table-bordered table-sm">
        <thead>
            <tr class="d-flex">
                <th class="col-2">
                    Article Nr.
                    <button onclick="sortList()">Sort</button>
                </th>
                <th class="col-2">Article description</th>
                <th class="col-1">Main supplier Nr.</th>
                <th class="col-1">Main supplier name</th>
                <th class="col-1">Is confirmed</th>
                <th class="col-1">Missing confirmations</th>
                <th class="col-1">Confirmations</th>
                <th class="col-1">Details</th>
                <th class="col-1">Edit</th>
                <th class="col-1">Delete</th>
            </tr>
        </thead>
        @foreach (var article in this.Model)
        {
            <tr class="d-flex">
                <td id="search" class="col-2">@article.Number</td>
                <td id="search" class="col-2">@article.Description</td>
                <td class="col-1">@article.MainSupplierNumber</td>
                <td class="col-1">@article.MainSupplierName</td>
                <td class="col-1">@article.IsConfirmed</td>
                <td class="col-1">
                    @foreach (var unconfirmedConformity in article.ArticleMissingConformityTypes)
                    {
                        <span>@unconfirmedConformity</span>
                    }
                </td>
                <td class="col-1">
                    @foreach (var confirmedConformity in article.ArticleConformityTypes)
                    {
                        <span>@confirmedConformity</span>
                    }
                </td>
                <td class="col-1">
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@article.Id">Details</a>
                </td>
                <td class="col-1">
                    @*    <a href="Edit?id=@article.Id" class="btn btn-primary" id="@article.Id">Edit</a>*@
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@article.Id">Edit</a>
                </td>
                <td class="col-1">
                    <a asp-action="Delete" class="btn btn-primary" asp-route-id="@article.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

@section SideBar{
    <partial name="_SideMenuGeneral" />
}

@section Scripts{
    <script src="~/js/tables.js"></script>
}