@*@model IEnumerable<ArticleListAllModel>*@
@*@model IEnumerable<ArticleDetailsModel>*@
@model ArticlesListAllModel

@{
    this.ViewData["Title"] = "Articles";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between mb-auto p-2">
                <h4 class="m-0 font-weight-bold">
                    @this.ViewData["Title"]
                </h4>
                <span>(total of @Model.ItemsCount articles)</span>
                <a asp-action="Create" class="btn btn-primary">
                    <i class="fab fa-creative-commons-remix"></i> Create article
                </a>
            </div>
            <div class="d-flex justify-content-between p-2 font-weight-bold">
                <div class="btn-toolbar mb-3">
                    <form method="get" asp-action="ListByNumberOrDescription">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                            <input asp-for="@Model.Input" 
                                   size="36" type="text" id="searchAticleInput" 
                                   placeholder="Search for article number or descriptiion...">
                            <div class="input-group-append">
                                <input type="submit" class="btn  btn-secondary" value="Search" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="btn-toolbar mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                Items per page
                            </div>
                        </div>
                        <partial name="_ItemsPerPagePartial" model="Model" />
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between p-2 font-weight-bold">
                <div class="btn-toolbar mb-3" id="suggestions">
                    <form method="get" asp-action="Details" asp-route-id="@Model.Id">
                        <div class="input-group">
                            <select asp-for="Id" id="selectSearchArticleInput"></select>
                            <div class="input-group-append">
                                <input type="submit" class="btn  btn-secondary" value="Show article" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center p-2 font-weight-bold">
                <partial name="_PagingPartial" model="@Model" />
            </div>
            <span>MS = Main supplier</span><br />
            <span>Conf. MS = Confirmed by main supplier</span><br />
            <span>Conf. AS = Confirmed by all suppliers</span><br />
            <table id="dataTable" class="table table-responsive-sm table-sm table-hover dataTable">
                <thead>
                    <tr class="d-flex">
                        <th class="col-2" id="sortableColumn">
                            Article Nr.
                            <button onclick="sortList()">Sort</button>
                        </th>
                        <th class="col-2">Description</th>
                        <th class="col-1">MS Nr.</th>
                        <th class="col-2">MS name</th>
                        <th class="col-1">Conf. AS</th>
                        <th class="col-1">Conf. MS</th>
                        <th class="col-1">Details</th>
                        <th class="col-1">Edit</th>
                        <th class="col-1">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <partial name="_ArticleListAllTableBody.cshtml" model="@Model" />
                </tbody>
            </table>
        </div>
        <div class="card-footer ">
            <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</div>

@section SideBar{
    <partial name="_SideMenuGeneral" />
}

@section Links{
    @*<link href="~/lib/datatables/dist/css/datatables.min.css" rel="stylesheet" asp-append-version="true" />
        @*<link href="~/lib/datatables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
}

@section Scripts{
    <script src="~/js/tables.js" asp-append-version="true"></script>
    @*<script src="~/lib/datatables/dist/js/datatables.min.js"></script>*@
}
