@model ArticlesListAllModel

@{
    this.ViewData["Title"] = "Articles";
}

@section SubMenu{
    <partial name="_SubMenuGeneral" />
}

<section class="display-data-wrapper">
    <section class="display-data-container">

        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
                <span class="presented-items-info">(total of @Model.ItemsCount articles)</span>
            </article>
            <article class="tools-container">
                <article class="search-container">
                    <form method="get" asp-action="ListAll">
                        <article class="input-group">
                            <article class="input-group-prepend">
                                <span class="input-group-text">
                                </span>
                            </article>
                            <input type="search" class="form-control" asp-for="CurrentSearchInput"
                                   size="46" id="searchAticleInput"
                                   placeholder="Search for article number or description..."
                                   value="@Model.CurrentSearchInput">
                            <article class="input-group-append">
                                <button type="submit" class="btn btn-search">
                                    <i class="fas fa-search"></i> Search
                                </button>
                            </article>
                        </article>
                    </form>
                </article>
                <article class="input-group">
                    <article class="input-group-prepend">
                        <span class="input-group-text">
                            Items per page
                        </span>
                    </article>
                    <article class="input-group-append">
                        <partial name="_ItemsPerPagePartial" model="Model" />
                    </article>
                </article>
            </article>
            <article class="search-results-container articles" id="suggestions" style="display:none">
                <form method="get" asp-action="Details" asp-route-id="@Model.Id" >
                    <article class="input-group">
                        <select asp-for="Id" id="selectSearchArticleInput" class="form-control"></select>
                        <article class="input-group-append">
                            <input type="submit" class="btn" value="Show article" />
                        </article>
                    </article>
                </form>
            </article>
        </section>

        <section class="display-data-body">
            <article class="pagination-container">
                <partial name="_PagingPartial" model="@Model" />
            </article>
            <partial name="_ArticlesListAllTable.cshtml" model="@Model" />
        </section>

        <section class="display-data-footer">
            <article class="pagination-container">
                <partial name="_PagingPartial" model="@Model" />
            </article>
        </section>
    </section>
</section>

@section Links{
    @*<link href="~/lib/datatables/dist/css/datatables.min.css" rel="stylesheet" asp-append-version="true" />
        @*<link href="~/lib/datatables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
}

@section Scripts{
    <script src="~/js/tables.js" asp-append-version="true"></script>
    @*<script src="~/lib/datatables/dist/js/datatables.min.js"></script>*@
}
