@using ConformityCheck.Web.ViewModels.Articles
@model ArticleManageConformityTypesModel
@{
    this.ViewData["Title"] = "Remove conformity type from the article";
}

<h3>@this.ViewData["Title"]</h3>

<div>
    <form method="post" class="col-md-6 mx-auto">

        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="Id" hidden value="@Model.Id" />

        <div>
            <label asp-for="Number"></label>
            <span class="text-primary ">@Model.Number</span>
        </div>

        <div>
            <label asp-for="Description"></label>
            <span class="text-primary ">@Model.Description</span>
        </div>

        <div>
            <label asp-for="ConformityTypes"></label>
            <table class="table table-light table-responsive-md table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">Conformity type</th>
                        <th scope="col">Conformity available</th>
                        <th scope="col">Is accepted?</th>
                        <th scope="col">Id</th>
                        <th scope="col">Remove conformity type?</th>
                    </tr>
                </thead>
                @foreach (var conformityType in this.Model.ConformityTypes)
                {
                    <tr>
                        <td>@conformityType.Description</td>
                        <td>@conformityType.ConformityId</td>
                        <td>@(conformityType.ConformityIsAccepted ? "Yes" : "No")</td>
                        <td>@conformityType.Id</td>
                        <td>
                            <input asp-for="ConformityTypeId" type="radio" value="@conformityType.Id" />
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Ready" />
        </div>
    </form>
</div>

@section SideBar{
    <partial name="_SideMenuEdit" model="Model" />
}