@model PagingViewModel
@foreach (var item in new[] { 12, 24, 48, 96 })
{
    if (item == @Model.ItemsPerPage)
    {
        <div class="page-item active" aria-current="page">
            <span class="page-link">
                @item
                <span class="sr-only">(current)</span>
            </span>
        </div>
    }
    else
    {
        <div class="page-item">
            <a class="page-link" asp-action="@Model.PagingControllerActionCallName"
               asp-route-pageNumber="1"
               asp-route-itemsPerPage="@item"
               asp-route-currentSortOrder="@Model.CurrentSortOrder"
               asp-route-currentSearchInput="@Model.CurrentSearchInput">
                @* if I pass here pageNumber the table will stay on the current page, not start from 1 *@
                @item
            </a>
        </div>
    }
}
