@using ConformityCheck.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- Project level custom fonts -->
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />

    <!-- Project level custom styles -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true" />*@

    @await this.RenderSectionAsync("Links", required: false)

    @*<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
        <link rel="icon" href="~/favicon.ico" type="image/x-icon">*@
</head>
<body class="page-wrapper">
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
        <nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i> @GlobalConstants.SystemName
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Articles" asp-action="ListAll">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Suppliers" asp-action="ListAll">Suppliers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ConformityTypes" asp-action="ListAll">Conformity types</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Conformities" asp-action="ListAll">Conformities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <div class="container">
                <!-- Content here -->
                <div class="row">
                    <div class="container col-md-2 col-lg-2 left">
                        @await RenderSectionAsync("SideBar", required: false)
                    </div>
                    <div class="container col-md-10 col-lg-10 align-items-center right">
                        @this.RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>

    @*<main>
            <partial name="_CookieConsentPartial" />
            <section class="left">
                @await RenderSectionAsync("SideBar", required: false)
            </section>
            <section class="right">
                @this.RenderBody()
            </section>
        </main>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Project level plugins -->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>

    <!-- Project level custom scripts -->
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @*<script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>*@

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
