@using ConformityCheck.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- Project level custom fonts -->
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    @*<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">*@

    <!-- Project level custom styles -->
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />

    @await this.RenderSectionAsync("Links", required: false)
</head>
<body>
    <header class="header-wrapper">
        <section class="content-wrapper header-content">
            <article class="site-title">
                <article class="list-item">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="logo-img" src="~/img/logo.png" alt="Logo" />
                        <h5 class="logo-text">
                            @GlobalConstants.SystemName
                        </h5>
                    </a>
                </article>
            </article>

            <label class="toggle-nav" for="toggle-nav">
                <i class="fas fa-bars"></i> Menu
            </label>
            <input class="nav-toggler" type="checkbox" name="toggle-nav" id="toggle-nav" />

            <nav class="nav">
                <ul class="nav-list nav-left">
                    <li class="list-item">
                        <a class="" asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
                    </li>
                    <li class="list-item">
                        <a class="" asp-area="" asp-controller="Suppliers" asp-action="Index">Suppliers</a>
                    </li>
                    <li class="list-item">
                        <a class="" asp-area="" asp-controller="ConformityTypes" asp-action="Index">Conformity types</a>
                    </li>
                    <li class="list-item">
                        <a class="" asp-area="" asp-controller="Conformities" asp-action="Index">Conformities</a>
                    </li>
                    <li class="list-item">
                        <a class="" asp-area="" asp-controller="ContactFormEntries" asp-action="Index">Contact us</a>
                    </li>
                    <li class="list-item">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li class="list-item">
                            <a class="" asp-area="Administration" asp-controller="Home" asp-action="Index" title="Admin">Admin</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </nav>
        </section>
    </header>

    <main class="main-wrapper">
        <partial name="_CookieConsentPartial" />
        <section class="content-wrapper">
            <section class="submenu">
                @await RenderSectionAsync("SubMenu", required: false)
            </section>
            <partial name="_MessageViewPartial" />
            @this.RenderBody()
        </section>
    </main>

    <footer class="footer-wrapper">
        <section class="footer-content content-wrapper">
            <ul class="footer-content-social">
                <li class="list-item">
                    <a href="https://www.linkedin.com/in/dyulgerska-paulina-28271583">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="list-item">
                    <a href="https://www.facebook.com/paulina.dyulgerska">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="list-item">
                    <a href="https://www.twitter.com/DyulgerskaP">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
            <p class="footer-made-by">
                Made with love by
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    &nbsp;Paulina
                </a>
            </p>
            <p class="footer-copyright">
                &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - All Rights Reserved
            </p>
            <p class="repo">
                GitHub Repository:&nbsp;<a href="https://github.com/Paulina-Dyulgerska/CSharp_ASP.NET_Core">
                    https://github.com/Paulina-Dyulgerska/CSharp_ASP.NET_Core
                </a>
            </p>
        </section>

    </footer>

    <!-- Project level plugins -->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>*@

    <!-- Project level custom scripts -->
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/alerts.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
