<div class="text-dark">
    Suppliers:
    <a class="nav-link" asp-controller="Articles" asp-action="AddSupplier" asp-route-id="@Model.Id">Add Supplier</a>
    <a class="nav-link" asp-controller="Articles" asp-action="ChangeMainSupplier" asp-route-id="@Model.Id">Main Supplier</a>
    <a class="nav-link" asp-controller="Articles" asp-action="RemoveSupplier" asp-route-id="@Model.Id">Remove Supplier</a>
</div>

<div class="text-dark">
    Conformity types:
    <a class="nav-link" asp-controller="Articles" asp-action="AddConformityType" asp-route-id="@Model.Id">Add conformity type</a>
    <a class="nav-link" asp-controller="Articles" asp-action="RemoveConformityType" asp-route-id="@Model.Id">Remove conformity type</a>
</div>                   

<div class="text-dark">
    Conformities:
    <a class="nav-link" asp-controller="Conformities" asp-action="AddConformity" asp-route-id="@Model.Id">Add conformity</a>
    <a class="nav-link" asp-controller="Conformities" asp-action="EditConformities" asp-route-id="@Model.Id">Edit conformities</a>
    <a class="nav-link" asp-controller="Conformities" asp-action="RemoveConformity" asp-route-id="@Model.Id">Remove conformity</a>
</div>
