@model SupplierArticlesDetailsExportModel

<section class="table-container">

    <article class="table-header">
    </article>

    <table class="table dataTable">
        <thead>
            <tr>
                <th class="col-s">
                    <a asp-action="@Model.PagingControllerActionCallName"
                       asp-route-itemsPerPage="@Model.ItemsPerPage"
                       asp-route-currentSortOrder="@Model.NumberSortParam"
                       asp-route-currentSearchInput="@Model.CurrentSearchInput"
                       asp-route-currentSortDirection="@Model.CurrentSortDirection">
                        <span class="text">Article Nr.</span>
                        <span class="icon @Model.CurrentSortDirection">
                        </span>
                    </a>
                </th>
                <th class="col-m">
                    <a asp-action="@Model.PagingControllerActionCallName"
                       asp-route-itemsPerPage="@Model.ItemsPerPage"
                       asp-route-currentSortOrder="@Model.DescriptionSortParam"
                       asp-route-currentSearchInput="@Model.CurrentSearchInput"
                       asp-route-currentSortDirection="@Model.CurrentSortDirection">
                        <span class="text">Description</span>
                        <span class="icon @Model.CurrentSortDirection">
                        </span>
                    </a>
                </th>
                <th class="col-s">
                    <a asp-action="@Model.PagingControllerActionCallName"
                       asp-route-itemsPerPage="@Model.ItemsPerPage"
                       asp-route-currentSortOrder="@Model.ConformityTypeSortParam"
                       asp-route-currentSearchInput="@Model.CurrentSearchInput"
                       asp-route-currentSortDirection="@Model.CurrentSortDirection">
                        <span class="text">Conf. type</span>
                        <span class="icon @Model.CurrentSortDirection">
                        </span>
                    </a>
                </th>
                <th class="col-s">
                    <a asp-action="@Model.PagingControllerActionCallName"
                       asp-route-itemsPerPage="@Model.ItemsPerPage"
                       asp-route-currentSortOrder="@Model.HasConformitySortParam"
                       asp-route-currentSearchInput="@Model.CurrentSearchInput"
                       asp-route-currentSortDirection="@Model.CurrentSortDirection">
                        <span class="text">Has conf.</span>
                        <span class="icon @Model.CurrentSortDirection">
                        </span>
                    </a>
                </th>
                <th class="col-s">
                    <a asp-action="@Model.PagingControllerActionCallName"
                       asp-route-itemsPerPage="@Model.ItemsPerPage"
                       asp-route-currentSortOrder="@Model.AcceptedConformitySortParam"
                       asp-route-currentSearchInput="@Model.CurrentSearchInput"
                       asp-route-currentSortDirection="@Model.CurrentSortDirection">
                        <span class="text">Accepted</span>
                        <span class="icon @Model.CurrentSortDirection">
                        </span>
                    </a>
                </th>
                <th class="col-xs">
                    <a asp-action="@Model.PagingControllerActionCallName"
                       asp-route-itemsPerPage="@Model.ItemsPerPage"
                       asp-route-currentSortOrder="@Model.ValidConformitySortParam"
                       asp-route-currentSearchInput="@Model.CurrentSearchInput"
                       asp-route-currentSortDirection="@Model.CurrentSortDirection">
                        <span class="text">Valid</span>
                        <span class="icon @Model.CurrentSortDirection">
                        </span>
                    </a>
                </th>
                <th class="col-s">Add / Edit</th>
                <th class="col-s">Delete</th>
                <th class="col-s">Send request</th>
                <th class="col-s">Request date</th>
            </tr>
        </thead>
        @foreach (var article in this.Model.Articles)
        {
            //var conformity = article.Conformities.FirstOrDefault(x => x.ConformityTypeId == article.ConformityTypeId);
            //&& x.ArticleId == item.Article.Id
            //&& x.SupplierId == Model.Id);
            <tr>
                <td class="col-s" data-label="Article Nr.">
                    @article.ArticleNumber
                    <a asp-controller="Articles" asp-action="Details" class="btn btn-table-link" asp-route-id="@article.ArticleId"></a>
                </td>
                <td class="col-m" data-label="Description">@article.ArticleDescription</td>
                <td class="col-s" data-label="Conf. type">@article.ConformityTypeDescription</td>
                @if (article.ConformityIssueDate != null)
                {
                    <td class="col-s" data-label="Has conf.">Yes</td>
                    <td class="col-s" data-label="Accepted">@(article.ConformityIsAccepted == true ? "Yes" : "No")</td>
                    <td class="col-xs" data-label="Valid">@(article.ConformityIsValid ? "Yes" : "No")</td>
                    <td class="col-s" data-label="Add / Edit">
                        <a asp-controller="Conformities" asp-action="Edit" class="btn btn-edit"
                           asp-route-Id="@article.ConformityId"
                           asp-route-articleId="@article.ArticleId"
                           asp-route-supplierId="@Model.Id"
                           asp-route-conformityTypeId="@article.ConformityTypeId"
                           asp-route-callerViewName="Suppliers">
                            Edit
                        </a>
                    </td>
                    <td class="col-s" data-label="Delete">
                        <a asp-controller="Conformities" asp-action="Delete" class="btn btn-delete"
                           asp-route-Id="@article.ConformityId"
                           asp-route-articleId="@article.ArticleId"
                           asp-route-supplierId="@Model.Id"
                           asp-route-callerViewName="Suppliers">
                            Delete
                        </a>
                    </td>
                }
                else
                {
                    <td class="col-s" data-label="Has conf.">No</td>
                    <td class="col-s" data-label="Accepted">No</td>
                    <td class="col-xs" data-label="Valid">No</td>
                    <td class="col-s" data-label="Add / Edit">
                        <a asp-controller="Conformities" asp-action="AddToArticleSupplierConformityType" class="btn btn-add"
                           asp-route-articleId="@article.ArticleId"
                           asp-route-supplierId="@Model.Id"
                           asp-route-conformityTypeId="@article.ConformityTypeId"
                           asp-route-callerViewName="Suppliers">
                            Add
                        </a>
                    </td>
                    <td class="col-s" data-label="Delete">-</td>
                }
                <td class="col-s" data-label="Send request">
                    <a asp-controller="Requests" asp-action="SendRequest" class="btn btn-request"
                       asp-route-articleId="@article.ArticleId"
                       asp-route-supplierId="@Model.Id"
                       asp-route-conformityTypeId="@article.ConformityTypeId"
                       asp-route-callerViewName="Suppliers">
                        Request
                    </a>
                </td>
                <td class="col-s" data-label="Request date">
                    @(article.ConformityRequestDate != null ?
                           article.ConformityRequestDate.Value.ToString(GlobalConstants.DateTimeFormat) : "-")
                </td>

            </tr>
        }
    </table>
</section>