@using ConformityCheck.Web.ViewModels.Suppliers
@model SupplierArticlesDetailsExportModel

@{
    this.ViewData["Title"] = "Details for supplier";
}

@section SubMenu{
    <partial name="_SubMenuGeneral" model="Model" />
}

<section class="display-data-wrapper">
    <section class="display-data-container">

        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"] @Model.Name
                </h4>
                <span class="presented-items-info">(total of @Model.ItemsCount conformity records)</span>
                <div class="btns-container">
                    <div class="form-field-container">
                        <a asp-action="Index" class="btn btn-back btn-align-end">Return back</a>
                    </div>
                </div>
            </article>
            <article class="tools-container">
                <article class="data-container supplier-details">
                    <ul>
                        <li>
                            Supplier's name:
                            <strong>@Model.Name</strong>
                        </li>
                        <li>
                            Supplier's Nr.:
                            <strong>@Model.Number</strong>
                        </li>
                        <li>
                            Contact person:
                            <strong>@Model.ContactPersonName</strong>
                        </li>
                        <li>
                            Email:
                            <strong>@Model.Email</strong>
                        </li>
                        <li>
                            Phone number:
                            <strong>@Model.PhoneNumber</strong>
                        </li>
                        <li>
                            Supplier's creator name:
                            <strong>@Model.UserEmail</strong>
                        </li>
                    </ul>
                    <article class="large-margin-horizontal large-margin-vertical center">
                        <a asp-action="Edit" class="btn btn-edit" asp-route-id="@Model.Id">
                            <span class="text">Edit supplier data</span>
                        </a>
                    </article>
                </article>
                <article class="input-group">
                    <article class="input-group-prepend">
                        <span class="input-group-text">
                            Items per page
                        </span>
                    </article>
                    <article class="input-group-append">
                        <partial name="_ItemsPerPagePartial" model="Model" />
                    </article>
                </article>
            </article>
        </section>

        <section class="display-data-body">
            <article class="pagination-container">
                <partial name="_PagingPartial" model="@Model" />
            </article>
            <partial name="_SupplierArticlesConformityTable" model="Model" />
        </section>

        <section class="display-data-footer">
            <article class="pagination-container">
                <partial name="_PagingPartial" model="@Model" />
            </article>
        </section>
    </section>
</section>

@section Links{
    @*<link href="~/lib/datatables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
}

@section Scripts{
    <script src="~/js/tables.js" asp-append-version="true"></script>
}
