@model IEnumerable<ConformityTypeFullInfoModel>

@{
    this.ViewData["Title"] = "Conformity types";
}

<h3>@this.ViewData["Title"]</h3>

<table class="table table-light table-responsive-md table-hover table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th scope="col">Conformity type Nr.</th>
            <th scope="col">Description</th>
            <th scope="col">User id</th>
            <th scope="col">Created on</th>
            <th scope="col">Modified on</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    @foreach (var conformityType in this.Model)
    {
<tr>
    <td>@conformityType.Id</td>
    <td>@conformityType.Description</td>
    <td>@conformityType.UserId</td>
    <td>@conformityType.CreatedOn</td>
    <td>@conformityType.ModifiedOn</td>
    <td>
        <a asp-action="Details" class="btn btn-primary" asp-route-id="@conformityType.Id">Details</a>
    </td>
    <td>
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@conformityType.Id">Edit</a>
    </td>
    <td>
        <a asp-action="Delete" class="btn btn-primary" asp-route-id="@conformityType.Id">Delete</a>
    </td>
</tr>
    }
</table>

<a asp-action="Create" class="btn btn-primary">Create new</a>

@section SideBar{
    <partial name="_SideMenuGeneral" />
}