@model ConformityCreateInputModel
@{
    this.ViewData["Title"] = "Add conformity to specific article, supplier and conformity type";
}

@section SubMenu{
    <partial name="_SubMenuGeneral" model="Model" />
}

<section class="display-data-wrapper">
    <section class="display-data-container">

        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
            </article>
        </section>

        <section class="display-data-body">
            <article class="form-data-container">
                <article class="data-container article-edit">
                    <ul>
                        <li>
                            Conformity type:
                            <strong>@Model.ConformityTypeDescription</strong>
                        </li>
                        <li>
                            Supplier Nr.:
                            <strong>@Model.SupplierNumber</strong>
                        </li>
                        <li>
                            Supplier name:
                            <strong>@Model.SupplierName</strong>
                        </li>
                        <li>
                            Article Nr:
                            <strong>@Model.ArticleNumber</strong>
                        </li>
                        <li>
                            Article's description:
                            <strong>@Model.ArticleDescription</strong>
                        </li>
                    </ul>
                </article>

                <form method="post" class="input-group"
                      asp-controller="Conformities"
                      asp-action="AddToArticleSupplierConformityType"
                      enctype="multipart/form-data">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="ArticleId" hidden value="@Model.ArticleId" />
                    <input asp-for="SupplierId" hidden value="@Model.SupplierId" />
                    <input asp-for="ConformityTypeId" hidden value="@Model.ConformityTypeId" />
                    <input asp-for="CallerViewName" hidden value="@Model.CallerViewName" />
                    <input asp-for="ValidForSingleArticle" hidden value="true" checked  />

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="IssueDate"></label>
                        <input asp-for="IssueDate" class="form-control" placeholder="Date of conformity creation" />
                        <span asp-validation-for="IssueDate" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="ValidityDate"></label>
                        <input asp-for="ValidityDate" class="form-control" placeholder="Date till the conformity is valid" />
                        <span asp-validation-for="ValidityDate" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="Comments"></label>
                        <input asp-for="Comments" class="form-control" placeholder="Add comments to the conformity" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical custom-file-upload-container">
                        <label asp-for="InputFile" class="custom-file-upload form-control">
                            <i class="fas fa-file-upload"></i> Choose conformity file
                        </label>
                        <input asp-for="InputFile" class="form-control" placeholder="Add file" />
                        <span asp-validation-for="InputFile" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="IsAccepted">
                            If the conformity is accepted, please check this box:
                        </label>
                        <input asp-for="IsAccepted" type="checkbox" />
                        <span asp-validation-for="IsAccepted" class="text-danger"></span>
                    </div>

                    @* TODO: add the declared substances and assing the restrictions. *@
                    <div class="btns-container">
                        <div class="form-field-container">
                            <a class="btn btn-back btn-align-end"
                               asp-controller="Articles"
                               asp-action="Edit"
                               asp-route-id="@Model.ArticleId">
                                Return back
                            </a>
                        </div>
                        <div class="form-field-container">
                            <input type="submit" class="btn btn-align-end" value="Create" />
                        </div>
                    </div>
                </form>
            </article>
        </section>

        <section class="display-data-footer ">
        </section>
    </section>
</section>
