@model ConformityEditInputModel
@{
    this.ViewData["Title"] = "Edit conformity";
    //var suppliers = Model.SuppliersAvailable.Select(x => new SelectListItem(x.NumberAndName, x.Id));
    //var conformityTypes = Model.ConformityTypesAvailable.Select(x => new SelectListItem(x.Description, x.Id.ToString()));
    //var products = Model.ProductsAvailable.Select(x => new SelectListItem(x.Number, x.Id));
    //var substances = Model.SubstancesAvailable.Select(x => new SelectListItem($"{x.CASNumber} - {x.Description}", x.Id.ToString()));
}

@section SubMenu{
    <partial name="_SubMenuGeneral" model="Model" />
}

<section class="display-data-wrapper">
    <section class="display-data-container">

        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
            </article>
        </section>

        <section class="display-data-body">
            <article class="form-data-container">
                <article class="data-container conformity-edit">
                    <ul>
                        <li>
                            Conformity type:
                            <strong>@Model.ConformityTypeDescription</strong>
                        </li>
                        <li>
                            Supplier:
                            <strong>@Model.SupplierNumber - @Model.SupplierName</strong>
                        </li>
                        <li>
                            Article:
                            <strong>@Model.ArticleNumber - @Model.ArticleDescription</strong>
                        </li>
                        <li>
                            @if (@Model.AcceptanceDate != null)
                            {
                            @* Variant 0: POST request*@
                            @*<form method="post" asp-controller="ContentDelivery" asp-action="ShowModalDocument" target="_blank">
                                    <article class="">
                                        <p>
                                            <strong>
                                                Conformity is available.
                                            </strong>
                                        </p>
                                        <p>
                                            Click the button to see the conformity file:
                                        </p>
                                        <input type="text" class="form-control" asp-for="ConformityFileUrl" value="@Model.ConformityFileUrl" hidden>
                                        <button type="submit" class="openPdf btn btn-cta">
                                            <span>
                                                <i class="fas fa-eye"></i> Conformity
                                            </span>
                                        </button>
                                    </article>
                                </form>*@

                            @* Variant 1: *@
                            <article class="">
                                <p>
                                    <strong>
                                        Conformity is available.
                                    </strong>
                                </p>
                                <p>
                                    Click the button to see the conformity file:
                                </p>
                                <a class="openPdf btn btn-cta"
                                   asp-controller="ContentDelivery"
                                   asp-action="ShowModalDocument"
                                   asp-route-conformityFileUrl="@Model.ConformityFileUrl"
                                   target="_blank">
                                    <span>
                                        <i class="fas fa-eye"></i> Conformity
                                    </span>
                                </a>
                                @* Variant 2: *@
                                @*<a href="@Url.Action("ShowModalDocument", "ContentDelivery", new { ConformityFileUrl = @Model.ConformityFileUrl})" target="_blank">Link Text</a>*@

                                @* Variant 3: *@
                                @*<div class="modal fade" id="modalGeneric" role="dialog">
                                    </div>
                                    <a class="ml-1" data-toggle="tooltip" title="Predogled"
                                       data-url="@Url.Action("PdfPartial", "Conformities", new { ConformityFileUrl = Model.ConformityFileUrl })"
                                       onclick="showGenericModal(event);">
                                        show the file
                                    </a>*@
                            </article>
                            <article class="large-margin-vertical">
                                <p class="">
                                    Please choose the button below, if you want to replace the current conformity file with a new one.
                                </p>
                                <p>
                                    <strong>
                                        Important!
                                    </strong>
                                </p>
                                <p>
                                    The available conformity document will be deleted and new one will be created!
                                </p>
                                <p>
                                    The new file will replace the current one!
                                </p>
                                <a class="addPdf btn btn-cta"
                                   asp-action="AddToArticleSupplierConformityType"
                                   asp-route-articleId="@Model.ArticleId"
                                   asp-route-supplierId="@Model.SupplierId"
                                   asp-route-conformityTypeId="@Model.ConformityTypeId"
                                   asp-route-callerViewName="Conformities">
                                    <span>
                                        <i class="fas fa-edit"></i> Add new conformity file
                                    </span>
                                </a>
                            </article>
                            }
                        </li>
                    </ul>
                </article>

                <form method="post" class="input-group" enctype="multipart/form-data">
                    @*asp-route-callerViewName=@Model.CallerViewName>*@

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="SupplierId" hidden value="@Model.SupplierId">
                    <input asp-for="ConformityTypeId" hidden value="@Model.ConformityTypeId">
                    <input asp-for="ArticleId" hidden value="@Model.ArticleId">

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="IssueDate"></label>
                        <input asp-for="IssueDate" class="form-control" placeholder="Date of conformity creation" />
                        <span asp-validation-for="IssueDate" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="ValidityDate"></label>
                        <input asp-for="ValidityDate" class="form-control" placeholder="Date till the conformity is valid" />
                        <span asp-validation-for="ValidityDate" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="Comments"></label>
                        <input asp-for="Comments" class="form-control" placeholder="Add comments to the conformity" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="IsAccepted">
                            If the conformity is accepted, please check this box:
                        </label>
                        @if (Model.IsAccepted)
                        {
                        <input asp-for="IsAccepted" type="checkbox" checked />
                        }
                        else
                        {
                        <input asp-for="IsAccepted" type="checkbox" />
                        }
                        <span asp-validation-for="IsAccepted" class="text-danger"></span>
                    </div>

                    @*<div class="form-field-container large-margin-vertical custom-file-upload-container">
                            <label asp-for="InputFile" class="custom-file-upload form-control">
                                * <i class="fas fa-file-upload"></i> Choose conformity file
                            </label>
                            <input asp-for="InputFile" class="form-control" placeholder="Add file" />
                            <span asp-validation-for="InputFile" class="text-danger"></span>
                        </div>*@

                    @* TODO: add the declared substances and assing the restrictions. *@

                    <div class="btns-container">
                        <div class="form-field-container">
                            <a asp-action="Index" class="btn btn-back btn-align-end">Return back</a>
                        </div>
                        <div class="form-field-container">
                            <input type="submit" class="btn btn-align-end" value="Save changes" />
                        </div>
                    </div>
                </form>
            </article>
        </section>

        <section class="display-data-footer ">
        </section>
    </section>
</section>

@section Scripts{
    <script src="~/js/pdfs.js" asp-append-version="true"></script>
    @*<script>
            function showGenericModal(event) {
                var src = event.target || event.srcElement;

                // find the parent that contains proper decorations
                var url = $(src).closest("*[data-url]").data('url');

                // trigger an HTTP GET
                $.get(url, function (data) {
                    // fill content and show modal
                    $('#modalGeneric').html(data);
                    $('#modalGeneric').modal('show');
                });
            }
        </script>*@
}