@model ConformityEditInputModel
@{
    this.ViewData["Title"] = "Edit conformity";
    //var suppliers = Model.SuppliersAvailable.Select(x => new SelectListItem(x.NumberAndName, x.Id));
    //var conformityTypes = Model.ConformityTypesAvailable.Select(x => new SelectListItem(x.Description, x.Id.ToString()));
    //var products = Model.ProductsAvailable.Select(x => new SelectListItem(x.Number, x.Id));
    //var substances = Model.SubstancesAvailable.Select(x => new SelectListItem($"{x.CASNumber} - {x.Description}", x.Id.ToString()));
}

<h3>@this.ViewData["Title"]</h3>

<div>
    <form method="post" class="col-md-6 mx-auto" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>

        <input asp-for="SupplierId" hidden value="@Model.SupplierId">
        <input asp-for="ConformityTypeId" hidden value="@Model.ConformityTypeId">
        <input asp-for="ArticleId" hidden value="@Model.ArticleId">

        <div class="form-group font-weight-bold">
            <label asp-for="ConformityTypeDescription">Conformity type:</label>
            <input asp-for="ConformityTypeDescription" class="form-control" hidden />
            <span class="text-primary ">@Model.ConformityTypeDescription</span>
        </div>

        <div class="form-group font-weight-bold">
            <label asp-for="SupplierNumber">Supplier:</label>
            <input asp-for="SupplierNumber" class="form-control" hidden />
            <input asp-for="SupplierName" class="form-control" hidden />
            <span class="text-primary ">@Model.SupplierNumber - @Model.SupplierName</span>
        </div>

        <div class="form-group font-weight-bold">
            <label asp-for="ArticleNumber">Article Nr:</label>
            <input asp-for="ArticleNumber" class="form-control" hidden />
            <input asp-for="ArticleDescription" class="form-control" hidden />
            <span class="text-primary ">@Model.ArticleNumber - @Model.ArticleDescription</span>
        </div>

        <div class="form-group font-weight-bold">
            <label asp-for="IssueDate">Date of conformity creation:</label>
            <input asp-for="IssueDate" class="form-control" placeholder="@Model.IssueDate" />
            <span asp-validation-for="IssueDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ValidityDate">Date till the conformity is valid:</label>
            <input asp-for="ValidityDate" class="form-control" placeholder="@Model.ValidityDate" />
            <span asp-validation-for="ValidityDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Comments">Edit comments to the conformity</label>
            <input asp-for="Comments" class="form-control" placeholder="@Model.Comments" />
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>

        @* TODO - fix file *@
        <div class="form-group">
            <label asp-for="InputFile"></label>
            <input asp-for="InputFile" class="form-control" placeholder="Add file" />
            <span asp-validation-for="InputFile" class="text-danger"></span>
        </div>

        <div class="form-group font-weight-bold">
            <label asp-for="IsAccepted">If the conformity is accepted, please check the box:</label>
            <br />
            @if (Model.IsAccepted)
            {
                <input asp-for="IsAccepted" type="checkbox" checked />
            }
            else
            {
                <input asp-for="IsAccepted" type="checkbox" />
            }
            <span asp-validation-for="IsAccepted" class="text-danger"></span>
        </div>

        @* Variant 1: da probvam moga li da go naprawq s POST? *@ 
        <a class="openPdf" asp-action="ShowModalDocument"
           asp-route-conformityFileUrl="@Model.ConformityFileUrl"
           target="_blank">
            show the pdf
        </a>
        @* Variant 2: *@
        @*<a href="@Url.Action("ShowModalDocument", "Conformities", new { ConformityFileUrl = @Model.ConformityFileUrl})" target="_blank">Link Text</a>*@
        @* Variant 3: *@
        @*<div class="modal fade" id="modalGeneric" role="dialog">
        </div>
        <a class="ml-1" data-toggle="tooltip" title="Predogled"
           data-url="@Url.Action("PdfPartial", "Conformities", new { ConformityFileUrl = Model.ConformityFileUrl })"
           onclick="showGenericModal(event);">
            show the file
        </a>*@

        @* TODO: add the declared substances and assing the restrictions. *@

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save changes" />
        </div>
    </form>
</div>

@section SideBar{
    <partial name="_SideMenuGeneral" />
}

@section Scripts{
    <script src="~/js/pdfs.js"></script>
    @*<script>
        function showGenericModal(event) {
            var src = event.target || event.srcElement;

            // find the parent that contains proper decorations
            var url = $(src).closest("*[data-url]").data('url');

            // trigger an HTTP GET
            $.get(url, function (data) {
                // fill content and show modal
                $('#modalGeneric').html(data);
                $('#modalGeneric').modal('show');
            });
        }
    </script>*@
}