@using Microsoft.Extensions.Configuration
@using ConformityCheck.Web.Infrastructure.Settings

@inject IConfiguration Configuration
@inject IGetCountsService GetCountsService

@model UserViewModel
@{
    this.ViewData["Title"] = "Edit user";

    var counts = await this.GetCountsService.GetCounts();
}

@section SubMenu{
    @*<partial name="_SubMenuGeneral" model="Model" />*@
}

<section class="display-data-wrapper">
    <section class="display-data-container">

        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
            </article>
        </section>

        <section class="display-data-body">
            <article class="form-data-container">
                <article class="data-container">
                    <ul>
                        <li>
                            Username:
                            <strong>@Model.UserName</strong>
                        </li>
                        <li>
                            Email:
                            <strong>@Model.Email</strong>
                        </li>
                        <li>
                            Is user email confirmed:
                            <strong>@(Model.EmailConfirmed ? "Yes" : "No")</strong>
                        </li>
                        <li>
                            User full name:
                            <strong>@Model.FullName</strong>
                        </li>
                        <li>
                            User phone number:
                            <strong>@Model.PhoneNumber</strong>
                        </li>
                        <li>
                            Date of user's creation':
                            <strong>@Model.CreatedOn</strong>
                        </li>
                        <li>
                            User roles:
                            <strong>@string.Join(", ", Model.Roles.Select(r => r.Name).ToList())</strong>
                        </li>
                    </ul>
                </article>
                <form method="post" class="input-group">
                    @*enctype is multipart/form-data if uploading a file, do not forget to change it*@

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="FirstName"></label>
                        <input type="text" asp-for="FirstName" class="form-control" placeholder="First name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="LastName"></label>
                        <input type="text" asp-for="LastName" class="form-control" placeholder="Last name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="PhoneNumber"></label>
                        <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Phone number" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="EmailConfirmed"></label>
                        <input type="checkbox" asp-for="EmailConfirmed" />
                        <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                    </div>

                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="Roles">User roles (you could choose more than one)</label>
                        <cache expires-after="TimeSpan.FromSeconds(120)">
                            <select size="@(counts.Roles)" asp-for="Roles" class="form-control" placeholder="Roles">
                                <vc:roles></vc:roles>
                            </select>
                        </cache>
                        <span asp-validation-for="Roles" class="text-danger"></span>
                    </div>

                    <div class="btns-container">
                        <div class="form-field-container">
                            <a asp-action="Index" class="btn btn-back btn-align-end">Return back</a>
                        </div>
                        <div class="form-field-container">
                            <input type="reset" class="btn btn-clear btn-align-end" value="Clear form" />
                        </div>
                        <div class="form-field-container">
                            <input type="submit" class="btn btn-align-end" value="Create" />
                        </div>
                    </div>
                </form>
            </article>
        </section>

        <section class="display-data-footer ">
        </section>
    </section>
</section>
