@model UsersIndexModel

@{
    this.ViewData["Title"] = "Admin -> Users";
}

@section SubMenu{
    @*<partial name="" />*@

    <nav>
        <ul class="btns-container nav-list">
            <li>
                <a asp-area="Administration" asp-controller="Users" asp-action="Create" class="btn btn-cta">
                    Create user
                </a>
            </li>
            <li>
                <a asp-area="Administration" asp-controller="Roles" asp-action="Create" class="btn btn-cta">
                    Create role
                </a>
            </li>
        </ul>
    </nav>
}

<section class="display-data-wrapper">
    <section class="display-data-container">

        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
                <span class="presented-items-info">(total of @Model.Users.Count() users)</span>
            </article>
            <article class="tools-container">
                <article class="search-container">
                    <form method="get" asp-action="Index" class="flex-row">
                        <article class="input-group">
                            <input type="search" class="form-control" size="40"
                                   asp-for="CurrentSearchInput"
                                   id="searchUserInput" list="selectSearchUserInput"
                                   placeholder="Search for username, email or role" value="@Model.CurrentSearchInput"
                                   autocomplete="off" />
                            <datalist id="selectSearchUserInput" class="form-control dropdown-content">
                            </datalist>
                        </article>
                        <article class="btns-container">
                            <button type="submit" class="btn btn-search">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </article>
                    </form>
                </article>
                <article class="input-group">
                    <article class="input-group-prepend">
                        <span class="input-group-text">
                            Items per page
                        </span>
                    </article>
                    <article class="input-group-append">
                        <partial name="_ItemsPerPagePartial" model="Model" />
                    </article>
                </article>
            </article>
        </section>

        <section class="display-data-body">
            <article class="pagination-container">
                <partial name="_PagingPartial" model="@Model" />
            </article>
            <partial name="_UsersIndexTable.cshtml" model="@Model" />
        </section>

        <section class="display-data-footer">
            <article class="pagination-container">
                <partial name="_PagingPartial" model="@Model" />
            </article>
        </section>
    </section>
</section>

@section Links{
}

@section Scripts{
    <script src="~/js/tables.js" asp-append-version="true"></script>
    <script src="~/js/searchEntities.js" asp-append-version="true"></script>
}
